# Ignore environment
rtx_env/
.ipynb_checkpoints/

# Ignore full CelebA dataset & metadata
img_align_celeba/
list_attr_celeba.csv
list_bbox_celeba.csv
list_eval_partition.csv
list_landmarks_align_celeba.csv

# Ignore large subset (keep only demo imgs)
subset_celeba/*
!subset_celeba/demo_*

# System junk
*.DS_Store
Thumbs.db
